
/* ! ========== TUTTI GLI ELEMENTI DELLA PAGINA ========== */

*{
    margin: 0;
    padding: 0;
}

/* ! ===== HEADER ===== */

header{
    width: 100%;
    text-align: center;
}

#logo{
    width: 20%;
    margin: 20px 0 20px 0;
}

#text-section{
    background-color: rgb(253, 253, 176);
    padding: 10px 0 10px 0;
    border-top: 2px solid rgb(252, 252, 60);
}

#text-section p{
    color: rgb(0, 104, 0);
}

#text-section p .bold{
    color: rgb(12, 95, 12);
    font-weight: bold;
    text-transform: uppercase;
}

/* ! ===== MAIN ===== */

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* ! section 1 */


#section1-main{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10% 0 10%;
    margin: 90px;
}

#section1-main h1{
    padding: 0 20% 0 20%;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 40px;
}

#section1-main p{
    padding: 0 17% 0 17%;
    margin-bottom: 20px;
}

#cont1{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    padding: 0 17%;

}


#cont1 .pizza{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    object-fit: cover;
}

#section1-main #cont1 p{
    color: grey;
    margin-top: 20px;
    text-align: center;
}


/* ! section 2 */

#section2-main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 21% 0 21%;
    margin: 0 90px 20px;
}

#cont2{
    border-left: 2px solid rgb(252, 252, 60);
    padding-left: 10px;
}

#section2-main h3{
    color: orangered;
    font-size: 16px;
    text-transform: uppercase;
}

#section2-main a{
    color: rgb(0, 144, 72);
    text-transform: capitalize;

}


/* ! section 3 */

#section3-main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 21% 0 21%;
    margin: 0 90px;
}

#section3-main h2{
    border-bottom: 2px solid rgb(60, 127, 252);
    padding: 20px 0;
}

#section3-main h3{
    margin: 10px 0 10px;
}

#section3-main .list{
    margin: 10px 0 10px;
    padding-left: 20px;
}

.cont3{
    width: 100%;
}

.cont3 p{
    margin: 0 40px 20px;
}

#num-list{
    font-weight: bold;
    margin: 20px 40px 20px 40px;
}

/* ! ===== FOOTER ===== */

footer{
    width: 100%;
}

footer p{
    padding-left: 25%;
    margin: 40px;
}

footer a{
    color: rgb(0, 144, 72);
}